---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, I'm A!</h1>
			<p>
				I like to build things with code.
			</p>
			<p>
				I like to learn new things and share what I learn.
			</p>
			<p>
				I always believed programming/engineering is an art and I am an artist.
			</p>
			<p>
				I am just getting started with this blog. I will be keep on improving it as I go.
			</p>
		</main>
		<!-- <Footer /> -->
	</body>
</html>
